<div class="container">
  <header class="">
    <h1 class="text-center">Chess Game</h1>
  </header>
  <main class="flex flex-col">
    <section>
      <h2 class="text-center">Black Graveyard</h2>
      <table>
        <tr class="flex" *ngFor="let numberPos of graveyard">
          <td class="pos" *ngFor="let pos of numberPos">{{ pos }}</td>
        </tr>
      </table>
    </section>
    <section>
      <table class="w-auto">
        <tr class="flex" *ngFor="let numberPos of board">
          <td class="pos" *ngFor="let pos of numberPos">{{ pos }}</td>
        </tr>
      </table>
    </section>
    <section>
      <table>
        <tr class="flex" *ngFor="let numberPos of graveyard">
          <td class="pos" *ngFor="let pos of numberPos">{{ pos }}</td>
        </tr>
      </table>
      <h2 class="text-center">White Graveyard</h2>
    </section>
  </main>
  <footer class="flex justify-between">
    <button>pos</button>
    <button>leg</button>
  </footer>
</div>
